{{!--
    This partial renders the <body> of the HTML page.
    @api public

--}}
<div class="sw-main"> 
    <h1>{{info.title}}</h1>
    <p class="sw-info">{{#if basePath}}Base URL: <span class="sw-info-basePath">{{basePath}}</span>, {{/if}}Version: <span class="sw-info-version">{{info.version}}</span></p>
    <p>{{md info.description}}</p>

    {{#if consumes}}
        <div id="sw-default-consumes" class="sw-default-value">
            <span class="sw-default-value-header">Default request content-types:</span>
            {{#each consumes}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
        </div>
    {{/if}}
    {{#if produces}}
        <div id="sw-default-produces" class="sw-default-value">
            <span class="sw-default-value-header">Default response content-types:</span>
            {{#each produces}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
        </div>
    {{/if}}

    <div id="sw-schemes" class="sw-default-value">
        <span class="sw-default-value-header">Schemes:</span>
        {{#each schemes}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
    </div>

    <a href="#/paths" class="btn btn-primary">Paths</a> <a href="#/models" class="btn btn-primary">Models</a> <a href="#/responses" class="btn btn-primary">Responses</a>

    {{#if showTagSummary}}
        {{>swagger/tags}}
    {{else}}
        {{>swagger/summary}}
    {{/if}}

    {{>swagger/securityDefinitions}}

    {{>swagger/paths paths=paths}}

    {{>swagger/parameterDefinitions parameters=parameters}}

    {{>swagger/responseDefinitions responses=responses}}

    {{>swagger/definitions definitions=definitions}}
</div>

<div class="sw-sidebar">
    {{>swagger/tagsSidebar}}
</div>

<a href="#" class="btn btn-success sw-btn-back-to-top">UP</a>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $( ".json-schema-example" ).accordion();
    });
</script>
