{{!--
    Renders a summary based on the tags of this services, containing references to all operations and paths
    @param {Array<{name:string, summary:string, operations: object}>} tags a list of tags
    @api public
--}}

<h2 id="swagger--summary-tags">Summary</h2>
<ul>
{{#eachSorted tags}}
    <li>
    <h4 id="tag-{{htmlId name}}" class="swagger-summary-tag">Tag: {{name}}</h4>
    <ul>
    {{#each operations}}
    <li>
        {{#ifCond method 'get'}}
        <span class="label label-primary">{{toUpperCase method}}</span>
        {{/ifCond}}

        {{#ifCond method 'post'}}
        <span class="label label-success">{{toUpperCase method}}</span>
        {{/ifCond}}

        {{#ifCond method 'put'}}
        <span class="label label-warning">{{toUpperCase method}}</span>
        {{/ifCond}}

        {{#ifCond method 'delete'}}
        <span class="label label-danger">{{toUpperCase method}}</span>
        {{/ifCond}}
        <a href="#operation-{{htmlId path}}-{{htmlId method}}"> {{path}}</a>
        
    </li>
    {{/each}}
    </ul>
    </li>
{{/eachSorted}}
</ul>

